.idea/
.DS_Store

*.db
app/src/main/assets/*.db
ui/src/main/res/drawable/pokemon*.*
app/google-services.json
keystore.jks
cert.txt
*.aab

*.iml
.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
signing.properties